.card-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
span{
    margin: 20px;
}
.card-container h2{
    text-align: center;
    font-size: 1.4rem;

}
.card-container p{
    font-size: 1.4rem;
}

